{% extends "core/base.html" %}
<title>{% block title %}shortener{% endblock title %}Login</title>
{% block main_content %}
<div class="container">
    <h2>URL SHORTENER</h2>
    <form method="post">
        {% csrf_token %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-primary">
            {{ message }}
            {% endfor %}
            {% endif %}
        </div>
        <div class="mb-3">
            <label for="username" class="form-label">Insert URL:</label>
            <input type="text" class="form-control" id="username" name='url' aria-describedby="emailHelp">
        </div>

        <button type="submit" class="btn btn-primary">Short URL</button>
    </form>
    <br>
    <div class="mb-3">
        {% if short_urls %}
        <h4>Shortened URLs ---{{user.username}}---</h4>


        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <th>Original URL</th>
                    <th>Short URL</th>
                    <th>Visits</th>
                    <th>Created at</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for object in short_urls %}
                <tr>
                    <td style="max-width: 400px; word-break: break-word;">
                        {{ object.orginal_url }}
                    </td>
                    <td>
                        <a href="/{{ object.short_url }}" target="_blank" style="color: #0010c1;">
                            {{ object.short_url }}
                        </a>
                    </td>
                    <td>{{object.visit}}</td>
                    <td>{{object.created_at}}</td>
                    <td><button class="btn btn-danger" name="delete"><a href="{% url 'delete_url' object.id %}"
                                style="color: #fff; text-decoration: none;">Delete</a></button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No URLs created yet.</p>
        {% endif %}

        <a href="{% url 'logout' %}" class="btn btn-outline-danger mt-3">Logout</a>
    </div>

    {% endblock main_content %}