{% extends "core/base.html" %}
<title>{% block title %}Login{% endblock title %}Login</title>
{% block main_content %}
<div class="container">
    <h2>URL SHORTENER</h2>
    <form method="post">
        {% csrf_token %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-primary">
            {{ message }}
            {% endfor %}
            {% endif %}
        </div>
        <div class="mb-3">
            <label for="username" class="form-label">Insert URL:</label>
            <input type="text" class="form-control" id="username" name='url' aria-describedby="emailHelp">
        </div>

        <button type="submit" class="btn btn-primary">Short URL</button>
    </form>
    <br>
    {% if short_url %}
    <div class="mb-3">
        <label class="form-label">Shortened URL:</label>
        <input type="text" class="form-control" value="{{ short_url }}" readonly>
        <input type="button" value="{{visit_count}}" readonly>
    </div>
    {% endif %}
    <a href="{% url 'logout' %}">Logout</a>
</div>

{% endblock main_content %}